@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  body {
    @apply dark:bg-gray-900
        bg-white;
  }
}

@layer components {
  th {
    @apply px-2 py-3;
  }
  th:first-child {
    @apply pl-3;
  }
  th:last-child {
    @apply pr-3;
  }

  td {
    @apply p-2;
  }
  td:first-child {
    @apply pl-3;
  }
  td:last-child {
    @apply px-2 py-1;
  }
}
